<!--Search bar for all events.-->
<form class="form-search" action = '/search_clubs' method="GET">

  <!--Search bar-->
  <div class="nav-bar-header">
  	<input type = "text" name = "search_data" style="width: 70%"/>
  	<button type = "submit" class="btn">Search
  		<span class="icon-bar"></span>
  	</button>
  </div>

</form>