<% provide(:title, @club.name) %>
<div class="row">
      <h1>
        <%= @club.name %>
      </h1>
      <div class = "span8">
      	<%= @club.description %>
        <%= @club.website_url %>
        <%= render 'follow_form'%>
      </div>
</div>