<div class="center hero-unit">
  <h1>Welcome to Club-Biz!</h1>

  <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Create admin account", new_admin_path, class: "btn btn-large btn-primary" %>

</div>