<div class="center hero-unit">
  <h1>Welcome to Club-Biz!</h1>

  <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="center"><%= link_to "Want to sign up as a club? Register your club with Club-Biz", new_verification_path %></div>
