<% provide(:title, @title) %>
<div class="span8">
    <h3><%= @title %></h3>
    <% if @events.any? %>
      <ul class="clubs">
          <% @events.each do |event| %>
		    <li>
			  <%= link_to event.name, event %>
			</li>
  		  <% end %>
      </ul>
    <% end %>
  </div>
</div>