<% provide(:title, @title) %>
<h1>Upcoming events</h1>
<div class = "span6 offset3">
  <% if @events.any? %>
    <p><em>Click on an event to manage.</em></p>
    <ol class="clubs">
      <% @events.each do |event| %>
        <li>
          <%= link_to image_tag(event.banner.url(:thumb)), event %>
          <%= event.start.strftime("%d %b %y %H:%M") %>
          &nbsp;&nbsp;
        <%= link_to event.name, event %>
      </li>
      <% end %>
     </ol>
  <% else %>
  <em>No events yet. Why not <%= link_to 'create an event', new_event_path%>?</em>
  <% end %>
</div>