<% provide(:title, 'My Clubs') %>
<h1>
  My Clubs
</h1>
<div class = "span6 offset3">
  <% if @clubs.any? %>
    <ol class="clubs">
      <% @clubs.each do |club| %>
        <li>
          <%= gravatar_for club.admin %>
          <%= link_to club.name, club %>
        </li>
      <% end %>
    </ol>
  <% else %>
  You aren't following any clubs yet.
  <% end %>
</div>