<% provide(:title, @title) %>
<div class="span8">
    <h3><%= @title %></h3>
    <% if @messages.any? %>
      <ul class="clubs">
          <% @messages.each do |message| %>
		    <li>
        <%= message.created_at %>
        <%= message.club.name %>
			  <%= message.content %>
			</li>
  		  <% end %>
      </ul>
    <% end %>
  </div>
</div>