<% provide(:title, @title) %>
<div class="span8">
    <h3><%= @title %></h3>
    <% if @clubs.any? %>
      <ul class="clubs">
          <% @clubs.each do |club| %>
		    <li>
			  <%= link_to club.name, club %>
			</li>
  		  <% end %>
      </ul>
    <% end %>
  </div>
</div>