<% provide(:title, @title) %>
<h1>My Events</h1>
<div class = "span6 offset3">
  <% if @events.any? %>
    <ol class="clubs">
      <% @events.each do |event| %>
        <li>
          <%= link_to (image_tag(event.banner.url, size: '100x100')), event %>
          <%= l event.start %>
          &nbsp;&nbsp;
          <%= link_to event.name, event %>
        </li>
      <% end %>
    </ol>
  <% else %>
  You haven't joined any upcoming events yet. Why not <%=link_to 'Browse events', events_path %>?
  <% end %>
</div>

