<% provide(:title, 'Browse events') %>
<h1>Browse events</h1>

<div class = "span6 offset3">
	<ol class="clubs">
	  <% @events.each do |event| %>
	    <li>
	      <%= l event.start %>
	      &nbsp;&nbsp;
		  <%= link_to event.name, event %>
		</li>
	  <% end %>
	</ol>
</div>