<% provide(:title, @event.name) %>
<%= form_for(@event.ads.build(event_id: @event.id)) do |f| %>
  <div><%= f.hidden_field :event_id %></div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write ad copy here..." %>
  </div>
  <%= f.submit "Send ad", class: "btn btn-large btn-primary" %>
<% end %>